<%= render 'posts/nav'%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class='container__main  mt-[-80px]' > 

    <div class='form__all'>

      <h1 class='text-center text-main-text'>Change passowrd</h1>

      <%= render "devise/shared/error_messages", resource: resource %>

    <div class='flex flex-col gap-5 justify-center items-center text-main-text'>

      <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:'border-inputsbd focus:border-inputsbd rounded text-main-text'%>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:'border-inputsbd focus:border-inputsbd rounded text-main-text'%>
    </div>

    <div class="field">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:'border-inputsbd focus:border-inputsbd rounded text-main-text' %>
    </div>



      
    </div>

    
    <div class="actions text-center">
      <%= f.submit "Update",  class:'cursor-pointer border-2 border-inputsbd p-2 px-5 rounded text-main-text' %>
    </div>

    <%= link_to "Back", :back , class:'text-main-text'%>




    </div>


    
  </div>
 
<% end %>

