<%= javascript_include_tag 'nav' %>

<header class=''>
    <nav class="flex justify-between px-3 bg-bags items-center" >        
       
        <%= image_tag('games.png', class:'w-16 h-16 rounded-full bg-repeat lg:w-20 lg:h-20')  %>


        <h1 class='flex-1 text-center text-main-text md:flex-auto md:text-start md:pl-11  lg:text-2xl' >Games review</h1>



        <ul class="menu hidden ulnav top-1/3 md:flex md:gap-x-5 lg:text-xl" >            
            
             <li>
                <%= link_to 'Pincipal', root_path, class: "text-main-text " %>
            </li>


            <% if !user_signed_in? %>
                <li>                                                        
                    <%= link_to 'Iniciar sesion', new_user_session_path, class: "text-main-text " %>                                              
                </li>
            <% end %> 
            
             <% if !user_signed_in? %>
                <li>                
                    <%= link_to 'Crear cuenta', new_user_registration_path, class: "text-main-text " %>                
                </li>                   
            <% end %>
                       
             <% if user_signed_in? %>
                <li>                
                    <%= link_to 'Nueva  reseña',  new_post_path, class: "text-main-text " %>
                
                </li>
            <% end %>
           
            <% if user_signed_in? %>
                <li>                 
                    <%= link_to 'Mis reseñas',  posts_path, class: "text-main-text " %>                
                </li>
            <% end %>

            <% if user_signed_in? %>
                <li>                 
                    <%= link_to 'Cerrar Sesion', destroy_user_session_path, class: "text-main-text " %>
                
                </li>
            <% end %>

        </ul>

        <div class='absolute  bg-bags  w-screen h-screen top-0 left-0  hidden hiddeall'>

        </div>
        
        <div class='w-16 h-16  flex items-center justify-end relative z-20  md:hidden'>
            <button id="greet-user-button" class='hamburger pointer' >
            
            <%= image_tag('menu.png', class:'w-5 h-5 ') %>                        
            </button>
        </div>

    </nav>
</header>